.empWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empImg {
    width: 100%;
}

.empName{
    font-size: 15px;
    font-family: var(--body);

}

.empPosition{
    font-size: 12px;
    font-family: var(--body);
}